<div class="fx-column gap-5">
  @for (item of pratosSimples; track item._id) {
    <div class="lbl-titulo-grupo">{{ item.nome }}</div>
    <mat-button-toggle-group>
      <mat-button-toggle>...</mat-button-toggle>
  
      @for (prato of item.pratos; track prato._id) {
        <mat-button-toggle
          [value]="prato._id"
          [checked]="selecaoContem(prato._id!)"
          (change)="changeGeral(prato._id!)"
          >{{ prato.nome }}</mat-button-toggle
        >
      }
    </mat-button-toggle-group>
  }
  
  @for (item of pratosGeral; track item._id) {
    <div class="lbl-titulo-grupo">{{ item.nome }}</div>
    <div class="fx-column" style="direction: rtl">
      @for (prato of item.pratos; track prato._id) {
        <mat-checkbox
          [value]="prato._id!"
          [checked]="selecaoContem(prato._id!)"
          (change)="changeGeral(prato._id!)"
        >
          {{ prato.nome }}
        </mat-checkbox>
      }
    </div>
  }
  
  
  <mat-accordion>
    <mat-expansion-panel  >
      <mat-expansion-panel-header>
        <mat-panel-title>Outros </mat-panel-title>
      </mat-expansion-panel-header>
  
      @for (item of pratosOutros; track item._id) {
        <div class="lbl-titulo-grupo">{{ item.nome }}</div>
        <div class="fx-column" style="direction: rtl">
          @for (prato of item.pratos; track prato._id) {
            <mat-checkbox
              [value]="prato._id!"
              [checked]="selecaoContem(prato._id!)"
              (change)="changeGeral(prato._id!)"
            >
              {{ prato.nome }}
            </mat-checkbox>
          }
        </div>
      }
    </mat-expansion-panel>
  </mat-accordion>
  
</div>