<central-form
  [form]="form"
  [loading]="loading()"
  (close)="visibleChange.emit(false)"
  (save)="salvar()"
>
  <form [formGroup]="form" class="form-form">
    @if (form.get("_id").value) {
      <app-upload-component [fileName]="form.get('_id').value" />
    }

    <mat-form-field class="wf">
      <mat-label>Nome</mat-label>
      <input
        matInput
        placeholder="Nome"
        formControlName="nome"
        placeholder="Informe aqui um nome"
        [maxLength]="25"
        [minlength]="5"
        [tabIndex]="-1"
      />
    </mat-form-field>
  </form>
</central-form>
