<div class="comp-body">
  <div class="comp-content">
    <div class="comp-inner">
      <nz-skeleton [nzActive]="true" [nzLoading]="loading"></nz-skeleton>
      @if (data$ | async; as data) {
        <ul nz-list [nzDataSource]="data" nzSize="large">
          @if (!tipoSelecao()) {
            <nz-list-header style="padding: 10px">
              <form nz-form [formGroup]="form" nzLayout="vertical">
                <nz-form-item>
                  <nz-form-label>Nome</nz-form-label>
                  <nz-form-control>
                    <nz-input-group
                      nzSearch
                      nzSize="large"
                      [nzAddOnAfter]="suffixButton"
                    >
                      <input
                        type="text"
                        nz-input
                        placeholder="Informe aqui um nome"
                        formControlName="nome"
                        [minlength]="5"
                        [maxLength]="25"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </form>

              <ng-template #suffixButton>
                <button
                  nz-button
                  nzType="dashed"
                  nz-tooltip
                  nzTooltipTitle="Salvar"
                  nzSize="large"
                  (click)="salvar()"
                  [nzLoading]="loadingBtn"
                  [disabled]="!form.valid"
                >
                  <span nz-icon nzType="save" nzTheme="outline"></span>
                </button>
              </ng-template>
            </nz-list-header>
          }
          <li
            nz-list-item
            *ngFor="let item of data"
            nzNoFlex
            (click)="selecionarComedor(item)"
            [ngStyle]="{ cursor: tipoSelecao() ? 'pointer' : 'unset' }"
          >
            <ul nz-list-item-actions>
              @if (!tipoSelecao()) {
                <nz-list-item-action>
                  <button
                    nz-button
                    nzSize="small"
                    nzType="dashed"
                    nz-tooltip
                    nzTooltipTitle="Editar"
                    (click)="editar(item)"
                  >
                    <span nz-icon nzType="edit" nzTheme="outline"></span>
                  </button>
                </nz-list-item-action>
                <nz-list-item-action>
                  <button
                    nzDanger
                    nz-button
                    nzSize="small"
                    nzType="dashed"
                    nz-tooltip
                    nzTooltipTitle="Remover"
                    nz-popconfirm
                    nzPopconfirmTitle="Deseja remover esse registro?"
                    nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="remover(item)"
                  >
                    <span nz-icon nzType="delete" nzTheme="outline"></span>
                  </button>
                </nz-list-item-action>
              }
            </ul>
            {{ item.nome }}
          </li>
        </ul>
      }
    </div>
  </div>
</div>
