<div class="ova hf fx-column pd-5">
  <div class="fx-flex">
    <form [formGroup]="form">
      <mat-form-field class="wf">
        <mat-label>Nome</mat-label>
        <input
          matInput
          placeholder="Nome"
          formControlName="nome"
          placeholder="Informe aqui um nome"
          [maxLength]="25"
          [minlength]="5"
        />
      </mat-form-field>
    </form>
  </div>
  <div class="fx-row gap-5" style="justify-content: end">
    <button mat-button (click)="visibleChange.emit(false)">Sair</button>
    <button
      mat-raised-button
      color="primary"
      (click)="salvar()"
      [disabled]="!form.valid"
    >
      Salvar <mat-icon>save</mat-icon>
    </button>
  </div>
</div>
