<container-central [(drawer)]="editarForm" [loading]="loading()">
  <div drawer class="ovh hf">
    @if (editarForm()) {
      <app-comedores-form-component
        [(visible)]="editarForm"
        [data]="editarFormData()"
      />
    }
  </div>

  <div header>
    @if (!loading()) {
      <button
        mat-raised-button
        color="primary"
        style="margin-bottom: 10px"
        (click)="incluir()"
      >
        Novo
      </button>
    }
  </div>

  <div content>
    <mat-selection-list
      role="list"
      hideSingleSelectionIndicator
      [multiple]="false"
    >
      @for (item of data$ | async; track item._id) {
        <mat-list-option
          role="listitem"
          (longPress)="removerRegistro(item._id!)"
          (click)="editar(item)" 
        >
          <app-imagem-component
            matListItemAvatar
            borderRadius
            [fileName]="item._id"
            [queryParameters]="
              item.updatedAt ? { updatedAt: item.updatedAt } : null
            "
          />

          <h3 matListItemTitle>
            {{ item.nome }}
          </h3>
        </mat-list-option>
        <mat-divider></mat-divider>
      }
    </mat-selection-list>
  </div>
</container-central>
