<div class="form-content">
  <div class="form-inner">
    <ng-content></ng-content>
  </div>
  <div class="form-footer-buttons">
    <button
      mat-raised-button
      color="primary"
      (click)="save.emit()"
      [disabled]="!form().valid"
    >
      Salvar
      <mat-icon>
        @if (!loading()) {
          save
        } @else {
          sync
        }
      </mat-icon>
    </button>
    <button mat-icon-button (click)="close.emit()">
      <mat-icon class="material-symbols-outlined">left_panel_open</mat-icon>
    </button>
  </div>
</div>
