<mat-drawer-container class="ovh hf">
  <mat-drawer
    [opened]="drawer()"
    class="ovh hf"
    (closedStart)="drawerChange.emit(false)"
    position="end"
  >
    <ng-content select="[drawer]"></ng-content>
  </mat-drawer>
  <mat-drawer-content class="ovh hf">
    <div class="comp-body">
      <div class="comp-content">
        <div class="comp-inner">
          <ng-content select="[content]"></ng-content>
        </div>
      </div>
      <div class="comp-head">
        @if (hideHeader()) {
          <button mat-fab color="primary" (click)="incluir.emit()">
            <mat-icon>add</mat-icon>
          </button>
        }
      </div>
      @if (loading()) {
        <mat-progress-bar
          mode="indeterminate"
          style="height: 4px"
        ></mat-progress-bar>
      }
    </div>
  </mat-drawer-content>
</mat-drawer-container>
