<form nz-form [formGroup]="form" nzLayout="vertical">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Nome</nz-form-label>
    <nz-form-control
      [nzSm]="16"
      [nzXs]="24"
      nzErrorTip="Por favor informe aqui o nome do ingrediente!"
    >
      <nz-input-group>
        <input
          type="text"
          nz-input
          formControlName="nome"
          placeholder="Informe aqui o nome do ingrediente"
          [maxLength]="50"
          [minlength]="2"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24">Observação</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-textarea-count [nzMaxCharacterCount]="100">
        <textarea
          type="text"
          nz-input
          formControlName="observacao"
          placeholder="Informe aqui uma observação"
          [maxLength]="100"
        ></textarea>
      </nz-textarea-count>
    </nz-form-control>
  </nz-form-item>
</form> 