<div class="ova hf fx-column pd-5">
  <div class="fx-flex">
    <form nz-form [formGroup]="form" class="fx-column gap-5">
      <mat-form-field class="wf">
        <mat-label>Nome</mat-label>
        <input
          matInput
          placeholder="Nome"
          formControlName="nome"
          placeholder="Informe aqui o nome do ingrediente"
          [maxLength]="50"
          [minlength]="5"
        />
      </mat-form-field>

      <mat-form-field class="wf">
        <mat-label>Observação</mat-label>
        <textarea
          matInput
          placeholder="Informe aqui uma observação"
          #txtObservacao
          [maxLength]="100"
        ></textarea>
        <mat-hint align="end">{{ txtObservacao.value.length }} / 100</mat-hint>
      </mat-form-field>
    </form>
  </div>
  <div class="fx-row gap-5" style="justify-content: end">
    <button mat-button (click)="visibleChange.emit(false)">Sair</button>
    <button
      mat-raised-button
      color="primary"
      (click)="salvar()"
      [disabled]="!form.valid"
    >
      Salvar <mat-icon>save</mat-icon>
    </button>
  </div>
</div>
