<central-form [form]="form" [loading]="loading()" (close)="visibleChange.emit(false)" (save)="salvar()">
  <form [formGroup]="form">
    <mat-form-field class="wf">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome" formControlName="nome" placeholder="Informe aqui um nome" [maxLength]="50"
        [minlength]="2" [tabIndex]="-1" />
    </mat-form-field>

    <mat-form-field class="wf">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="tipo">
        @for (tipo of tipos; track tipo) {
        <mat-option [value]="tipo">{{tipo}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <h5>Medida Por Marmita</h5>
    <div class="fx-row wf">

      <mat-form-field class="wf fx-flex">
        <mat-label>Medida</mat-label>
        <mat-select formControlName="medida">
          @for (medida of medidas; track medida) {
          <mat-option [value]="medida">{{medida | medidanome}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="wf fx-flex">
        <mat-label>Quantidade</mat-label>
        <input matInput placeholder="Quantidade" formControlName="quantidade" placeholder="Informe aqui uma quantidade"
          [tabIndex]="-1" type="number" />
      </mat-form-field>

    </div>

    <h5>Medida Por Embalagem</h5>
    <div class="fx-row wf">

      <mat-form-field class="wf fx-flex">
        <mat-label>Medida</mat-label>
        <mat-select formControlName="embalagemMedida">
          @for (medida of medidas; track medida) {
          <mat-option [value]="medida">{{medida | medidanome}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="wf fx-flex">
        <mat-label>Quantidade</mat-label>
        <input matInput placeholder="Quantidade Embalagem" formControlName="embalagemQuantidade"
          placeholder="Informe aqui uma quantidade" [tabIndex]="-1" type="number" />
      </mat-form-field>

    </div>

    <mat-form-field class="wf">
      <mat-label>Observação</mat-label>
      <textarea matInput placeholder="Informe aqui uma observação" formControlName="observacao" #txtObservacao
        [maxLength]="100" [tabIndex]="-1"></textarea>
      <mat-hint align="end">{{ txtObservacao.value.length }} / 100</mat-hint>
    </mat-form-field>
  </form>
</central-form>