<div class="comp-body">
  <div class="comp-head">
    @if (loading) {
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    }
    @if (!loading && !tipoSelecao) {
      <button
        nz-button
        nzType="primary"
        style="margin-bottom: 10px"
        (click)="novoPrato()"
      >
        Novo Prato
      </button>
    }
  </div>
  <div class="comp-content">
    <div class="comp-inner">
      <nz-collapse nzGhost>
        @for (grupo of data$ | async; track grupo._id) {
          <nz-collapse-panel
            [nzHeader]="tplTitulo"
            [nzShowArrow]="false"
            style="border-bottom: 1px solid #eeeeee"
          >
            <div class="comp-inner-grid" style="gap: 5px">
              @for (item of grupo.pratos; track item._id) {
                @if (!pratoStore.pedidoItemVinculado[item!._id!]) {
                  <nz-card
                    style="width: 100%"
                    [nzActions]="
                      tipoSelecao ? [] : [tplEdit, tplCopy, tplDelete]
                    "
                    [nzHoverable]="tipoSelecao"
                    (click)="incluirPratoPedido(item)"
                  >
                    <nz-card-meta
                      [nzTitle]="item.nome!"
                      [nzDescription]="item.observacao || ''"
                    ></nz-card-meta>

                    @if (
                      item.composicoes &&
                      item.composicoes.length > 0 &&
                      !tipoSelecao
                    ) {
                      <div style="padding: 10px">
                        @for (composicao of item.composicoes; track $index) {
                          <nz-tag nzColor="magenta">{{ composicao }}</nz-tag>
                        }
                      </div>
                    }
                  </nz-card>
                }
                <ng-template #tplEdit>
                  <span
                    nz-icon
                    nzType="edit"
                    nzTheme="outline"
                    (click)="editar(item)"
                  ></span>
                </ng-template>
                <ng-template #tplCopy>
                  <span
                    nz-icon
                    nzType="copy"
                    nzTheme="outline"
                    nz-popconfirm
                    nzPopconfirmTitle="Deseja duplicar esse registro?"
                    nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="duplicar(item)"
                  ></span>
                </ng-template>
                <ng-template #tplDelete>
                  <span
                    nz-icon
                    nzType="delete"
                    nzTheme="outline"
                    [nzTheme]="'twotone'"
                    [nzTwotoneColor]="'#F44336'"
                    nz-popconfirm
                    nzPopconfirmTitle="Deseja remover esse registro?"
                    nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="remover(item)"
                  ></span>
                </ng-template>
                <ng-template #contentTemplate>
                  <div>
                    <!--button
                      nz-button
                      nzType="default"
                      nz-tooltip
                      nzTooltipTitle="Duplicar"
                      nz-popconfirm
                      nzPopconfirmTitle="Deseja duplicar esse registro?"
                      nzPopconfirmPlacement="bottom"
                      (nzOnConfirm)="duplicar(item)"
                    >
                      <span nz-icon nzType="copy" nzTheme="outline"></span>
                    </!--button-->

                    <button
                      nzDanger
                      nz-button
                      nzType="default"
                      nz-tooltip
                      nzTooltipTitle="Remover"
                      nz-popconfirm
                      nzPopconfirmTitle="Deseja remover esse registro?"
                      nzPopconfirmPlacement="bottom"
                      (nzOnConfirm)="remover(item)"
                    >
                      <span nz-icon nzType="delete" nzTheme="outline"></span>
                    </button>
                  </div>
                </ng-template>
              }
            </div>
          </nz-collapse-panel>

          <ng-template #tplTitulo>
            <div class="fx-row wf" style="margin-right: 10px">
              <div class="fx-flex fx-row">
                <app-grupo-principal-component [principal]="grupo.principal" />
                <div class="fx-column">
                  <span style="font-weight: bold">{{ grupo.nome }}</span>
                  @if (grupo.observacao) {
                    <span class="lbl-observacao">{{ grupo.observacao }}</span>
                  }
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template #tplExtra>
            <span
              nz-icon
              nzType="plus-circle"
              nzTheme="outline"
              (click)="$event.stopPropagation(); novoPratoGrupo(grupo)"
            ></span>
          </ng-template>
        }
      </nz-collapse>
    </div>
  </div>
</div>
