<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzKeyboard]="false" 
  [nzClosable]="false"
  [nzVisible]="visible()"
  nzTitle="Pratos"
  [nzFooter]="footerTpl"
>
  <form nz-form [formGroup]="form" *nzDrawerContent nzLayout="vertical">
    <nz-form-item>
      <nz-form-label nzRequired>Nome</nz-form-label>
      <nz-form-control nzErrorTip="Por favor informe aqui o nome do prato!">
        <nz-input-group>
          <input
            type="text"
            nz-input
            formControlName="nome"
            placeholder="Informe aqui o nome do prato"
            [maxLength]="50"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>Grupo</nz-form-label>
      <nz-form-control nzErrorTip="Por favor informe um grupo do prato!">
        <nz-select
          formControlName="grupo"
          placeholder="Informe aqui o grupo do prato"
        >
          @for (g of grupos; track g._id) {
            <nz-option nzCustomContent [nzValue]="g._id" [nzLabel]="g.nome!">
              <app-grupo-principal-component [principal]="g.principal" />
              {{ g.nome }}
            </nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Observação</nz-form-label>
      <nz-form-control>
        <nz-textarea-count [nzMaxCharacterCount]="100">
          <textarea
            type="text"
            nz-input
            formControlName="observacao"
            placeholder="Informe aqui uma observação"
            [maxLength]="100"
          ></textarea>
        </nz-textarea-count>
      </nz-form-control>
    </nz-form-item>

    <app-selecao-ingredientes-component
      [selecionados]="form.value.ingredientes || []"
      (selecionadosChange)="form.value.ingredientes = $event"
    />
    <br />
    <br />

    <span
      nz-icon
      nzType="tags"
      nzTheme="outline"
      style="margin-right: 5px"
    ></span>
    <app-pratos-form-composicao-component
      [composicoes]="form.value.composicoes || []"
      (composicoesChange)="form.value.composicoes = $event"
    />
  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button
        nz-button
        style="margin-right: 8px"
        (click)="visibleChange.emit(false)"
      >
        Sair
      </button>
      <button
        nz-button
        nzType="primary"
        (click)="salvar()"
        [nzLoading]="isConfirmLoading"
      >
        Salvar
      </button>
    </div>
  </ng-template>
</nz-drawer>
