<form nz-form [formGroup]="validateForm" nzLayout="vertical">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Nome</nz-form-label>
    <nz-form-control
      [nzSm]="16"
      [nzXs]="24"
      nzErrorTip="Por favor informe aqui o nome do prato!"
    >
      <nz-input-group>
        <input
          type="text"
          nz-input
          formControlName="nome"
          placeholder="Informe aqui o nome do prato"
          [maxLength]="50"
          [max]="50"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired>Grupo</nz-form-label>
    <nz-form-control
      [nzSpan]="12"
      nzErrorTip="Por favor informe um grupo do prato!"
    >
      <nz-select
        formControlName="grupo"
        placeholder="Informe aqui o grupo do prato"
      >
        @for(g of grupos; track g._id){
        <nz-option nzCustomContent [nzValue]="g._id" [nzLabel]="g.nome!">
          <ng-container
            *ngTemplateOutlet="tplPrincipal; context: { $implicit: g }"
          ></ng-container>
          {{ g.nome }}
        </nz-option>
        }
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24">Observação</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <textarea
        type="text"
        nz-input
        formControlName="observacao"
        placeholder="Informe aqui uma observação"
        [maxLength]="100" 
      ></textarea>
    </nz-form-control>
  </nz-form-item>

  <span nz-icon nzType="tags" nzTheme="outline" style="margin-right: 5px;"></span>
  <app-pratos-form-composicao-component
    [composicoes]="validateForm.value.composicoes"
    (eventAtualizarComposicao)="atualizarComposicao($event)"
  />
</form>

<ng-template #tplPrincipal let-grupo>
  <nz-badge [nzStatus]="grupo.principal ? 'success' : 'default'"></nz-badge>
</ng-template>
