<central-form
  [form]="form"
  [loading]="loading()"
  (close)="visibleChange.emit(false)"
  (save)="salvar()"
>
<form [formGroup]="form">
  <mat-form-field class="wf">
    <mat-label>Nome</mat-label>
    <input
      matInput
      placeholder="Nome"
      formControlName="nome"
      placeholder="Informe aqui um nome"
      [maxLength]="50"
      [minlength]="5"
      [tabIndex]="-1"
    />
  </mat-form-field>

  <mat-form-field class="wf">
    <mat-label>Grupo</mat-label>
    <mat-select formControlName="grupo" required>
      <mat-option>--</mat-option>
      @for (g of grupos; track g._id) {
        <mat-option [value]="g._id">
          <span grupoPrincipal [value]="g.principal"> {{ g.nome! }}</span>
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <app-selecao-ingredientes-component
    [(selecionados)]="form.value.ingredientes!"
  />

  <mat-form-field class="wf">
    <mat-label>Observação</mat-label>
    <textarea
      matInput
      placeholder="Informe aqui uma observação"
      #txtObservacao
      [maxLength]="100"
      formControlName="observacao"
    ></textarea>
    <mat-hint align="end">{{ txtObservacao.value.length }} / 100</mat-hint>
  </mat-form-field>

  <mat-form-field class="wf">
    <mat-label> <mat-icon>label</mat-icon> Tags </mat-label>
    <mat-chip-grid #chipGrid formControlName="composicoes">
      @for (composicao of form.value.composicoes; track composicao) {
        <mat-chip-row (removed)="removeKeyword(composicao)">
          {{ composicao }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
    </mat-chip-grid>
    <input
      placeholder="Nova Tag"
      [matChipInputFor]="chipGrid"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-form-field>

  <mat-form-field class="wf">
    <mat-label>Icone</mat-label>
    <input
      matInput
      placeholder="Icone"
      formControlName="icone"
      placeholder="Informe aqui um icone"
      [maxLength]="50"
      #txtIcone
    />
    @if (txtIcone.value) {
      <mat-icon matSuffix class="material-symbols-outlined">{{ txtIcone.value }}</mat-icon>
    }
  </mat-form-field>

  @if (form.get("_id").value) {
    <app-upload-component [fileName]="form.get('_id').value" />
  }
</form>
</central-form>
