<div class="comp-body">
  <div class="comp-head">
    <nz-skeleton [nzActive]="true" [nzLoading]="loading"></nz-skeleton>
    @if (!loading) {
      <button
        nz-button
        nzType="primary"
        style="margin-bottom: 10px"
        (click)="isVisible = true"
      >
        Novo Grupo
      </button>
    }
  </div>
  <div class="comp-content">
    <div class="comp-inner">
      @if (data$ | async; as data) {
        <nz-list nzItemLayout="horizontal" nzBordered nzSize="large">
          <nz-list-item *ngFor="let item of data" [corBoarda]="item.cor">
            <nz-list-item-meta>
              <nz-list-item-meta-title>
                <app-grupo-principal-component [principal]="item.principal" />
                {{ item.nome }}
              </nz-list-item-meta-title>
              @if (item.observacao) {
                <nz-list-item-meta-description>
                  {{ item.observacao }}
                </nz-list-item-meta-description>
              }
            </nz-list-item-meta>

            <ul nz-list-item-actions>
              <nz-list-item-action>
                <button
                  nz-button
                  nzType="dashed"
                  nz-tooltip
                  nzTooltipTitle="Editar"
                  nzSize="small"
                  (click)="editar(item)"
                >
                  <span nz-icon nzType="edit" nzTheme="outline"></span>
                </button>
              </nz-list-item-action>
              <nz-list-item-action>
                <button
                  nzDanger
                  nz-button
                  nzSize="small"
                  nzType="dashed"
                  nz-tooltip
                  nzTooltipTitle="Remover"
                  nz-popconfirm
                  nzPopconfirmTitle="Deseja remover esse registro?"
                  nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="remover(item)"
                >
                  <span nz-icon nzType="delete" nzTheme="outline"></span>
                </button>
              </nz-list-item-action>
            </ul>
          </nz-list-item>
          <nz-list-empty *ngIf="data.length === 0"></nz-list-empty>
        </nz-list>
      }
    </div>
  </div>
</div>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Grupo"
  (nzOnCancel)="isVisible = false"
  (nzOnOk)="salvar()"
  nzOkText="Salvar"
  [nzKeyboard]="false"
  [nzMask]="false"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Nome</nz-form-label>
        <nz-form-control
          [nzSm]="16"
          [nzXs]="24"
          nzErrorTip="Por favor informe aqui o nome do grupo!"
        >
          <nz-input-group>
            <input
              type="text"
              nz-input
              formControlName="nome"
              placeholder="Informe aqui o nome do grupo"
              [maxLength]="25"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <div nz-row>
        <div nz-col [nzFlex]="1">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24">Principal</nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24">
              <nz-switch formControlName="principal"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzFlex]="2">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24"
              >Seleção (Simples)</nz-form-label
            >
            <nz-form-control [nzSm]="16" [nzXs]="24">
              <nz-switch formControlName="multiplo"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzFlex]="1">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24">Cor</nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24">
              <nz-color-picker
                formControlName="cor"
                nzAllowClear
              ></nz-color-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">Observação</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-textarea-count [nzMaxCharacterCount]="100">
            <textarea
              type="text"
              nz-input
              formControlName="observacao"
              placeholder="Informe aqui uma observação"
              [maxLength]="100"
            ></textarea>
          </nz-textarea-count>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
