<mat-accordion class="expansion-headers-align">
  @for (item of registros(); track item) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="fx-row wf">
            <span class="fx-flex"> {{ item.prato }}</span>
            <span class="item-inner-quantidade"> {{ item.quantidade }}</span>
            {{ item.comedores?.length }}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      @if (item.comedores) {
        @for (comedor of item.comedores; track comedor) {
          <div class="item-inner">
            <div class="fx-row" style="align-items: center">
              <span class="item-inner-quantidade">
                {{ comedor.quantidade }}
              </span>

              <div>
                <span>
                  {{ comedor.comedor }}
                </span>

                @if (!acompanhamento()) {
                  <mat-chip-set>
                    @for (de of comedor.de; track de) {
                      <mat-chip
                        [ngStyle]="{ border: '1px solid ' + de.grupo.cor }"
                      >
                        @if (de.grupo.multiplo) {
                          <mat-icon
                            matChipAvatar
                            fontIcon="rice_bowl"
                          ></mat-icon>
                        }
                        {{ de.grupo.multiplo ? de.grupo.nome + "/" : ""
                        }}{{ de.nome }}
                      </mat-chip>
                    }
                  </mat-chip-set>
                } @else {
                  <div class="fx-column">
                    @for (acompanha of comedor.acompanha; track acompanha) {
                      <div>{{ acompanha }}</div>
                    }
                  </div>
                }
              </div>
            </div>
          </div>
        }
      }
    </mat-expansion-panel>
  }
</mat-accordion>
