<nz-collapse>
  @for (item of registros(); track item) {
    <ng-template #tplItemTitulo>
      <div class="lbl-item-titulo fx-row wf">
        <span class="fx-flex">{{ item.prato }}</span>
        <span style="font-size: 20px">{{ item.quantidade }}</span>
      </div>
    </ng-template>

    <nz-collapse-panel [nzHeader]="tplItemTitulo">
      @if (item.comedores) {
        @for (comedor of item.comedores; track comedor) {
          <div class="item-inner">
            <div class="fx-row" style="align-items: center">
              <span class="item-inner-quantidade">
                {{ comedor.quantidade }}
              </span>

              <div>
                <span>
                  {{ comedor.comedor }}
                </span>

                <div class="fx-row">
                  @for (de of comedor.de; track de) {
                    <nz-tag
                      [nzColor]="de.grupo.cor"
                      [nzBordered]="!de.grupo.multiplo"
                    >
                      @if (de.grupo.multiplo) {
                        <span nz-icon nzType="fire" nzTheme="outline"></span>
                      }
                      {{ de.grupo.multiplo ? de.grupo.nome + "/" : ""
                      }}{{ de.nome }}</nz-tag
                    >
                  }
                </div>
              </div>
            </div>
          </div>
        }
      }
    </nz-collapse-panel>
  }
</nz-collapse>
