<mat-accordion class="expansion-headers-align">
  @for (item of registros(); track item) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="fx-row wf">
            <span class="fx-flex"> {{ item.nome }}</span>
            <span class="item-inner-quantidade"> {{ item.quantidade }}</span>
            {{ item.pratos?.length }}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      @if (item.pratos) {
        @for (prato of item.pratos; track prato) {
          <div class="item-inner">
            <div class="fx-row" style="align-items: center">
              <span class="item-inner-quantidade">
                {{ prato.quantidade }}
              </span>
              <span>
                {{ prato.nome }}
              </span>
            </div>
          </div>
        }
      }
    </mat-expansion-panel>
  }
</mat-accordion>
