<nz-collapse>
  @for (item of registros(); track item) {
    <ng-template #tplItemTitulo>
      <div class="lbl-item-titulo fx-row wf">
        <span class="fx-flex">{{ item.nome }}</span>
        <span style="font-size: 20px">{{ item.quantidade }}</span>
      </div>
    </ng-template>

    <nz-collapse-panel [nzHeader]="tplItemTitulo">
      @if (item.pratos) {
        @for (prato of item.pratos; track prato) {
          <div class="item-inner">
            <div class="fx-row" style="align-items: center">
              <span class="item-inner-quantidade" >
                {{ prato.quantidade }}
              </span>
              <span>
                {{ prato.nome }}
              </span>
            </div>
          </div>
        }
      }
    </nz-collapse-panel>
  }
</nz-collapse>
