<div class="card-container">
  <nz-tabset
    nzTabPosition="bottom"
    nzSize="large"
    nzType="card"
    style="height: 100%"
  >
    <nz-tab [nzTitle]="'Principal'">
      <div class="comp-content">
        <div class="comp-inner">
          <app-relatorio-item-component [registros]="pratosPrincipais" />
        </div>
      </div>
    </nz-tab>

    <nz-tab [nzTitle]="'Acompanha'">
      <div class="comp-content">
        <div class="comp-inner">
          <app-relatorio-item-component [registros]="pratosAcompanhamento" />
        </div>
      </div>
    </nz-tab>

    <nz-tab nzTitle="Geral">
      <div class="comp-content">
        <div class="comp-inner"></div>
      </div>
    </nz-tab>
  </nz-tabset>
</div>
