<div class="content">
  @for (i of quantidadeNumeros; track i) {
    @if (this.selecao[i]) {
      <button mat-flat-button color="primary">{{ i }}</button>
    } @else {
      <button mat-button (click)="selecionar(i)">
        {{ i }}
      </button>
    }
  }
  <div class="box0">
    <button mat-button style="width: 100%" (click)="limparSelecao()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <div class="box1">
    <button mat-button style="width: 100%" (click)="entrar()">Entrar</button>
  </div>
</div>
<div style="text-align: center">
  <span versaosis></span>
</div>
@if (loading) {
  <mat-progress-bar mode="indeterminate" style="height: 4px"></mat-progress-bar>
}
