<div class="content">
  @for (i of quantidadeNumeros; track i) {
    <button
      nz-button
      (click)="selecionar(i)"
      [nzType]="this.selecao[i] ? 'primary' : 'default'"
    >
      {{ i }}
    </button>
  }
  <div class="box0">
    <button nz-button style="width: 100%" (click)="limparSelecao()">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>
    </button>
  </div>
  <div class="box1">
    <button nz-button style="width: 100%" (click)="entrar()">Entrar</button>
  </div>
</div>
