@import '../style-variables';

.layout {
  min-height: 100vh;
}

.header-menu {
  line-height: 64px;
}

 

nz-header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

nz-footer {
  text-align: center;
}

fa-icon {
  padding-right: 10px;
}

nz-sider {
  margin-top: 40px;
}

.btn-menu {
  width: 100%;
}

.inner-content {
  background: #fff;
  margin-left: 10px;
  padding: 10px;
  min-height: 380px;
  margin-top: 40px;
}

.outer-content {
  padding: 0 40px;
  margin-top: 40px;
}

.logo {
  width: 150px;
  height: 45px;
  margin: 10px 0 10px 0 ;
  float: left;

  cursor: pointer;

  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 2px;
  
  background-color: $ripple-color;
  box-shadow: 0 0 4px #999;
  outline: none;
}

.logo-title {
  color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nz-content {
    padding: 0;
  }
  nz-layout {
    overflow-x: hidden;
  }
  .logo {
    width: 100%;  
    background: #001529;
  }
  .inner-content {
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .ant-layout-header {
    padding: 0 10px;
  }
  .outer-content {
    padding: 0;
  }
}
