<ng-template #tplMenu>
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</ng-template>

<mat-drawer-container class="fx-column hf ovh">
  <mat-drawer #drawer mode="over" class="menu-drawer hf ovh">
    <div class="fx-column hf ovh">
      <ng-container [ngTemplateOutlet]="tplLogoDrawer"></ng-container>
      <div class="fx-flex">
        <ng-container [ngTemplateOutlet]="tplContentMenu"></ng-container>
      </div>
      <ng-container [ngTemplateOutlet]="tplFooter"></ng-container>
    </div>
  </mat-drawer>
  <section class="fx-column hf ovh">
    <mat-toolbar color="primary">
      <ng-container [ngTemplateOutlet]="tplLogoDrawer"></ng-container>

      <div class="fx-flex"></div>
      @if (isMobile && usuarioLogado()) {
        <ng-container [ngTemplateOutlet]="tplMenu"></ng-container>
      }
    </mat-toolbar>
    <div class="fx-flex hf ovh">
      <div class="fx-row hf ovh">
        @if (!isMobile && usuarioLogado()) {
          <div style="padding: 10px">
            <div class="menu-elevation-2">
              <ng-container [ngTemplateOutlet]="tplContentMenu"></ng-container>
            </div>
          </div>
        }
        <div class="fx-flex ovh hf">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <app-footer-component />
  </section>
</mat-drawer-container>

<ng-template #tplFooter>
  <div class="fx-row wf" style="padding: 10px; align-items: center;">
    <span versaosis class="fx-flex"></span>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu_open</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #tplContentMenu>
  <div class="fx-column hf ovh">
    <div class="fx-flex hf ovh">
      <mat-nav-list class="hf ova">
        @for (item of listaMenu; track item) {
          <a mat-list-item [routerLink]="item.rota">
            <div matListItemIcon>
              <mat-icon>{{ item.icone }}</mat-icon>
            </div>
            <span matListItemTitle>{{ item.titulo }}</span>
          </a>
        }
      </mat-nav-list>
    </div>
  </div>
</ng-template>

<ng-template #tplLogo let-item="itemc">
  <div
    class="logo"
    matRipple
    [ngClass]="item"
    routerLink="/"
    (click)="drawer.close()"
  >
    <span>{{ config.titulo }}</span>
  </div>
</ng-template>

<ng-template #tplLogoDrawer>
  <ng-container
    [ngTemplateOutlet]="tplLogo"
    [ngTemplateOutletContext]="{ itemc: 'logo-drawer' }"
  ></ng-container>
</ng-template>
