<nz-layout class="layout fx-column hf ovh">
  <nz-header class="fx-row" style="align-items: center">
    <ng-container [ngTemplateOutlet]="tplLogo"></ng-container>

    <div class="fx-flex"></div>
    @if (isMobile && usuarioLogado()) {
      <ng-container [ngTemplateOutlet]="tplMenu"></ng-container>
    }
  </nz-header>
  <nz-content class="outer-content fx-flex">
    <nz-layout class="inner-layout">
      @if (!isMobile && usuarioLogado()) {
        <nz-sider nzWidth="200px" nzTheme="light">
          <ng-container [ngTemplateOutlet]="tplContentMenu"></ng-container>
        </nz-sider>
      }
      <nz-content class="inner-content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
    <nz-footer
      ><span>©2024 Implement By AMS</span>
      @if (!isMobile) {
        <span versaosis></span>
      }
    </nz-footer>
  </nz-content>
</nz-layout>

<ng-template #tplMenu>
  <button
    nz-button
    [nzGhost]="true"
    nzType="dashed"
    nzShape="circle"
    (click)="open()"
  >
    <span nz-icon nzType="menu"></span>
  </button>
</ng-template>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="visible"
  [nzPlacement]="placement"
  [nzTitle]="tplLogoDrawer"
  (nzOnClose)="close()"
  [nzFooter]="tplFooter"
>
  <ng-container *nzDrawerContent>
    <ng-container [ngTemplateOutlet]="tplContentMenu"></ng-container>
  </ng-container>
</nz-drawer>

<ng-template #tplFooter>
  <div class="fx-row wf">
    <span class="fx-flex" versaosis style="padding-left: 10px;"></span>

    <button nz-button nzType="dashed" (click)="close()">
      <span nz-icon nzType="menu-unfold" nzTheme="outline"></span>
    </button>
  </div>
</ng-template>

<ng-template #tplContentMenu>
  <ul nz-menu nzMode="inline" class="sider-menu">
    <li nz-menu-item routerLink="marmitas">
      <span nz-icon nzType="coffee" nzTheme="outline"></span>
      Marmitas
    </li>
    <li nz-menu-item routerLink="comedores">
      <span nz-icon nzType="user" nzTheme="outline"></span>
      Comedores
    </li>

    <li nz-submenu nzOpen nzIcon="user" nzTitle="Pratos">
      <ul>
        <li nz-menu-item routerLink="grupos">
          <span nz-icon nzType="group" nzTheme="outline"></span>
          Grupos
        </li>
        <li nz-menu-item routerLink="pratos">
          <span nz-icon nzType="shop" nzTheme="outline"></span>
          Pratos
        </li>
        <li nz-menu-item routerLink="ingredientes">
          <span nz-icon nzType="fire" nzTheme="outline"></span>
          Ingredientes
        </li>
      </ul>
    </li>
  </ul>
</ng-template>

<ng-template #tplLogo let-item="itemc">
  <div class="logo ripple" [ngClass]="item" routerLink="/">
    <span>{{ config.titulo }}</span>
  </div>
</ng-template>

<ng-template #tplLogoDrawer>
  <ng-container
    [ngTemplateOutlet]="tplLogo"
    [ngTemplateOutletContext]="{ itemc: 'logo-drawer' }"
  ></ng-container>
</ng-template>

<ng-template #notificationBtnTpl let-notification>
  <button
    nz-button
    nzType="primary"
    nzSize="small"
    (click)="notification.close()"
  >
    OK
  </button>
</ng-template>
