<ng-template #extraTemplate>
  <span class="lbl-quantidade"
    >{{ quantidadeItens() }} / {{ quantidadeRegistros() }}</span
  >
</ng-template>

<ng-template #tplFooter>
  <div class="fx-row gap-5" style="align-items: center">
    <ng-container *ngTemplateOutlet="extraTemplate"></ng-container>
    <div class="fx-flex"></div>
    <button mat-button (click)="closeAlteracaoPedido()">Sair</button>
    <button mat-raised-button color="primary" (click)="salvarAlteracaoPedido()">
      Salvar <mat-icon>save</mat-icon>
    </button>
  </div>
</ng-template>

<mat-sidenav-container class="hf ovh fx-column">
  <mat-sidenav
    #drawer
    mode="over"
    position="end"
    fixedInViewport
    class="menu-sidenav"
  >
    <ng-container [ngTemplateOutlet]="tplDrawer"></ng-container>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-tab-group headerPosition="below">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>shopping_cart</mat-icon>
          Pedido
        </ng-template>
        <div class="comp-content">
          <div class="comp-inner comp-inner-grid">
            @for (item of data$ | async; track item._id) {
              <app-pedidos-item-component
                [item]="item"
                (editarPedidoItem)="editarPedidoItem($event)"
                (removerPedidoItem)="removerPedidoItem($event)"
              />
            }
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>restaurant_menu</mat-icon>
          Pratos
        </ng-template>
        <div class="comp-content">
          <div class="comp-inner">
            <app-pratos-component
              tipoSelecao
              (eventIncluirPratoPedido)="incluirPratoPedido($event)"
            />
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <ng-container [ngTemplateOutlet]="extraTemplate"></ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #tplDrawer>
  <div class="fx-column gap-5 pd-5 hf ovh">
    <h3 style="text-align: center">{{ alteracaoPedidoTitulo }}</h3>
    <mat-divider></mat-divider>

    <div class="fx-flex hf ovh">
      <div class="hf ova gap-5">
        <app-selecao-numeros-component
          [numeros]="listaQuantidadePedido"
          [(selecionado)]="alteracaoPedidoQuantidade"
        ></app-selecao-numeros-component>

        @if (drawer.opened) {
          <app-pedidos-acompanhamento-component
            [(acompanhamento)]="alteracaoPedidoAcompanhamentos"
          />
        }
        <br />

        <form [formGroup]="alteracaoPedidoForm">
          <mat-form-field class="wf">
            <mat-label>Observação</mat-label>
            <textarea
              matInput
              placeholder="Informe aqui uma observação"
              formControlName="observacao"
              #txtObservacao
              [maxLength]="100"
            ></textarea>
            <mat-hint align="end"
              >{{ txtObservacao.value.length }} / 100</mat-hint
            >
          </mat-form-field>
        </form>
      </div>
    </div>

    <ng-container [ngTemplateOutlet]="tplFooter"></ng-container>
  </div>
</ng-template>
