@use "@angular/material" as mat;
//@use '@angular/material-experimental' as matx;
@import "@angular/cdk/overlay-prebuilt.css";
@import "ams-variables";

/* $theme: matx.define-theme((
  color: (
    theme-type: light,
    primary: matx.$m3-azure-palette,
    tertiary: matx.$m3-blue-palette,
  )
));

@include mat.core();
@include matx.color-variants-back-compat($theme);

:root {
  @include mat.all-component-themes($theme);
}
 */

 .elevation-2 {
  // Adds a shadow for elevation level 2 with default color and full opacity:
  @include mat.elevation(2);
}

.menu-elevation-2 {
  // Adds a shadow for elevation level 2 with default color and full opacity:
  @include mat.elevation(2);
  height: 100%;
  overflow: auto;
  border-radius: 12px;
  width: 250px;
}

.button-elevation-2 {
  @include mat.elevation(2);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@include mat.core();

$primary: mat.define-palette($mat-custom-primary);

$accent: mat.define-palette($mat-custom-accent);
$warn: mat.define-palette($mat-custom-warn);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

:root {
  @include mat.all-component-themes($theme);
}
