<container-central [(drawer)]="editarForm" [loading]="loading()">
  <div drawer class="ovh hf">
    @if (editarForm) {
      <app-marmitas-form-component
        [(visible)]="editarForm"
        [data]="editarFormData()"
      />
    }
  </div>

  <div header>
    @if (!loading()) {
      <button
        mat-raised-button
        color="primary"
        style="margin-bottom: 10px"
        (click)="incluir()"
      >
        Novo
      </button>
    }
  </div>

  <div content class="wf ovh">
    <div class="comp-inner-grid">
      @for (item of data$ | async; track item._id) {
        <app-marmitas-item-component
          [item]="item"
          (remover)="removerRegistro($event)"
          (editar)="editar($event)"
        />
      }
    </div>
  </div>
</container-central>
