<div class="card-container">
  <nz-tabset
    nzTabPosition="bottom"
    nzSize="large"
    nzType="card"
    style="height: 100%"
    [nzTabBarExtraContent]="extraTemplate"
  >
    <nz-tab [nzTitle]="titleTplPedido">
      <ng-template #titleTplPedido>
        <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
        Pedido
      </ng-template>
      <div class="comp-content">
        <div class="comp-inner comp-inner-grid">
          @for (item of data$ | async; track item._id) {
            <ng-template #tplPedidoAcao>
              <span
                nz-icon
                nzType="delete"
                nzTheme="outline"
                [nzTheme]="'twotone'"
                [nzTwotoneColor]="'#F44336'"
                nz-popconfirm
                nzPopconfirmTitle="Deseja remover esse registro?"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="removerPratoPedidoLocal(item)"
              ></span>
            </ng-template>

            <ng-template #tplPedidoQuantidade>
              <div
                class="fx-row"
                style="align-items: center; justify-content: center"
                (click)="editarPratoPedidoLocal(item)"
              >
                <span nz-icon nzType="shop" nzTheme="outline"></span> ({{
                  item.quantidade
                }})
              </div>
            </ng-template>

            <div style="padding: 5px">
              <nz-card [nzActions]="[tplPedidoQuantidade, tplPedidoAcao]">
                <h3>{{ item.prato.nome }}</h3>
              </nz-card>
            </div>
          }
        </div>
      </div>
    </nz-tab>

    <nz-tab [nzTitle]="titleTplPratos">
      <ng-template #titleTplPratos>
        <span nz-icon nzType="shop" nzTheme="outline"></span>Pratos
      </ng-template>
      <div class="comp-content">
        <div class="comp-inner comp-inner-grid">
          <app-pratos-component
            tipoSelecao
            (eventRemoverPratoPedido)="removerPratoPedido($event)"
            (eventIncluirPratoPedido)="incluirPratoPedido($event)"
            (eventEditarPratoPedido)="editarPratoPedido($event)"
          />
        </div>
      </div>
    </nz-tab>
  </nz-tabset>
</div>

<ng-template #extraTemplate>
  <span class="lbl-quantidade">{{ quantidade$ | async }}</span>
</ng-template>
