<button nz-button nzType="primary" (click)="visible = true">
  Carregar Pratos
  <span nz-icon nzType="shop" nzTheme="outline"></span>
</button>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="visible"
  [nzPlacement]="'bottom'"
  (nzOnClose)="close()"
>
  <ng-container *nzDrawerContent>
    <app-pratos-component
      tipoSelecao
      [tipoSelecaoPratoActions]="[tplAdicaoPrato, tplRemovePrato]"
    ></app-pratos-component>
  </ng-container>
</nz-drawer>

<ng-template #tplAdicaoPrato>
  <app-icon>done</app-icon>
</ng-template>

<!--Incluir se prato for vinculado-->
<ng-template #tplRemovePrato>
  <app-icon nzDanger>delete</app-icon>
</ng-template>
