<central-form
  [form]="form"
  [loading]="loading()"
  (close)="visibleChange.emit(false)"
  (save)="salvar()"
>
<form [formGroup]="form" class="form-form">
  <mat-form-field class="wf">
    <mat-label>Lançamento</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="lancamento" [tabIndex]="-1" readonly/>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="picker"
    ></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="wf">
    <mat-label>Observação</mat-label>
    <textarea
      matInput
      placeholder="Informe aqui uma observação"
      #txtObservacao
      [maxLength]="100"
      formControlName="observacao"
      [tabIndex]="-1"
    ></textarea>
    <mat-hint align="end">{{ txtObservacao.value.length }} / 100</mat-hint>
  </mat-form-field>
</form>
</central-form>
